body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #282a36;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg-color: #282a36;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
}

h1,
h2,
p,
th,
td,
form {
  color: var(--text-color);
}

.fonts_menu {
  font-family: 'Anonce,Lato';
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
}

.main {
  margin-top: 150px;
}

.table,
th,
td,
tbody,
thead {
  text-align: center;
  align-items: center;
}
.img_albuns {
  height: 150px;
  width: 150px;
}
.footer {
  color: white;
  position: static;
  margin-top: 100px;
  text-align: center;
  padding: 30px;
}
.footer:hover {
  transition: 0.5s;
  color: black;
}

.forms {
  width: 500px;
}
.input {
  text-align: center;
}
.title-section {
  text-align: center;
  background-color: #fc040e;
  padding: 10px;
}

.img-members {
  width: 200px;
  height: 200px;
}
.card-members {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-bottom: 50px;
}
.card {
  width: 203px;
  margin: 10px;
}

.title-home {
  text-align: center;
  font-weight: bold;
}
.subtitle-home {
  text-align: justify;
  font-weight: bold;
}

.text-home {
  text-align: justify;
}
.img-home {
  width: 600px;
  margin: 20px;
}
.news {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
a:link {
  text-decoration: none;
}
